/*COLORS================================================ */
:root {
    --grey: #333;
    --white: #fff;
    --black: #111;
    --accent: #7fffb9;
    --deepaccent: #00e074;
    --pastelaccent: #bfffd0;
}
